/* Estilos del documento html Index*/

/* ------------------- body ----------------- */
body{
    margin: 0px;
    padding: 0px;
}

/* ----------------------- header ---------------------- */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid darkgray;
}

header div{
    width: 80%;
    display: flex;
    flex-direction: row;
}

/* column one */
header div .content-logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div .content-logo img{
    width: 50%;
    margin-top: 10px;
}

/* column two */
header div .content-nav{
    width: 60%;
}

header div .content-nav nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div .content-nav nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

header div .content-nav nav ul li{
    list-style: none;
    padding: 5px 10px;
}

header div .content-nav nav ul li a{
    text-decoration: none;
    color: #020202;
    font-family:sans-serif;
    font-size: 1.3em;
}

/* column three */
header div .content-logs{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div .content-logs div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}
header div .content-logs div:nth-child(1) a svg{
    width: 32px;
    height: 32px;
}
header div .content-logs div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
header div .content-logs div:nth-child(2) a svg{
    width: 32px;
    height: 32px;
}

/* -------------------------- main ------------------------- */


.tittle{
    text-align: center;
    font-family: sans-serif;
    margin-top: 40px;

}

.cuadro1{
    width: 300px;
    height: 500px;
    position:relative;
    left: 150px;
    top: 100px;

}

.cuadro2{
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    
}

.cuadro3{
    width: 300px;
    position:absolute;
    left: 400px;
    top: 0px;
      

}

.cuadro4{
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    
}

.cuadro5{
    width: 300px;
    position:absolute;
    left: 400px;
    top: 0px;

}

.cuadro6{
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;

}

/* ----------------------------- footer --------------------- */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

footer div{
    width: 80%;
    display: flex;
    justify-content: center;
}

footer div span{
    width: 100%;
    text-align: center;
    color: darkgray;
    font-size: 1.1rem;
    font-family: sans-serif;
    
}